<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ml.nethome.back.dao.TestDao">
	<select id="queryMyTest" resultType="org.ml.nethome.back.domain.MyTest">
		select * from tests limit 1
	</select>
	<insert id="insertMyTest">
		insert into tests (test) values(#{test.test})
	</insert>
</mapper>
